.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  width: 500px;
  height: 500px;
  border-radius: 20px;  
  background: #a2b9bc;
}

img {
  width: 200px;
  height: 200px;
}

body {
  color: #878f99;
}

form {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 25px;  
  background: white;
  font-size: 15px;
  color: #696969;
}

input:focus {
  outline: gray auto 0.5px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid gray;
  background: #878f99;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s
}

button:hover {
  background: 	#404040;
  color: white; 
}
